# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/page/Login.js
src/component/TopNav/TopNavLogin.js
src/component/TopNav/TopNavLogin.css
src/component/img/golf-bag-equipment-with-sticks-set.svg
src/component/img/baseline-account_circle-24px-login.svg
src/component/Form/RegisCard.js
src/component/Form/LoginForm.js
src/component/Form/LoginForm.css
src/component/Form/LoginCard.js
src/component/EditText/EditTextImg.js
src/component/EditText/EditTextImg.css
src/component/Button/Button.css
