.card-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-box .card{
  box-sizing: border-box;
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  transition: 0.2s;
  width: 100%;
  max-width: 24rem;
  height: 15rem;
  border-radius: 0.25rem;
  display: flex;
  margin: 2rem 0;
}
.card-space{
  width: 10rem;
}
.card-item-small{
  width: 25%;
  max-width: 6rem;
  height: 100%;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #1b95fc;
}
.card-item-large{
  width: 75%;
  max-width: 18rem;
  height: 100%;
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: #f1f9ff;
}
.card:hover{
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
}
@media (min-width: 768px) and (max-width: 1200px) {
  .card{
   transform: translateX(-30%);
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .card-box{
    float: left;
    width: 40%;
  }
}
@media (min-width: 1600px) {
  .card-box{
    float: left;
    width: 28.5%;
  }
}
