.fillscore{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.fillscore .fillscore__topnav{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;

  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);

  height: 4rem;
  width: 100%;
  background: #eaeaea;
}
.fillscore__topnav .fillscore__user{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  color: #2a4d69;
  font-weight: bold;
}
.fillscore .fillscore__hole{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  margin: 10%;
}
.fillscore__hole p{
  font-size: 1.5rem;
  margin: 5%;
  color: #2a4d69;
  font-weight: bold;
}
.fillscore__hole select{
  width: 20%;
  font-size: 1rem;
  margin: 5%;
}
.fillscore__hole select option{
  color: red;
}
.fillscore .fillscore__label{
  color: #2a4d69;
  margin: 2.5% 10%;
  font-size: 1.25rem;
  font-weight: bolder;
}
.fillscore .fillscore__listview__grid{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  margin: 5% 0;
}
.fillscore__listview__grid .fillscore__btn{
  width: 10%;
}
.fillscore__btn button{
  font-size: 1.5rem;
  width: 100%;
  height: 50%;
  border-radius: 0;
}
.fillscore__btn .fillscore__btn__plus{
  width: 100%;
  height: 50%;
  border: 1px solid black;
}
.fillscore__listview__grid .fillscore__listview{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -ms-overflow-x: auto;
  overflow-x: auto;

  -ms-overflow-y: hidden;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch;

  width: 90%;
  border: .5rem solid #1b95fc;
}

.fillscore__listview .fillscore__listitem{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0.1rem rgba(0,0,0,0.3);

  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

  background: #f1f9ff;
  margin: 10% 5%;
  min-width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.fillscore__listview .fillscore__listitem:hover{
  -webkit-box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
}
.fillscore__listview .fillscore__listitem.selected{
  border: .25rem solid red;
}
.fillscore .fillscore__label__input__grid{
  margin: 2.5% 10%;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.fillscore__label__input__grid .fillscore__label__input{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.fillscore__label__input .fillscore__label__input__text{
  height: 30%;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: #2a4d69;
  color: white;
  font-weight: 600;
}
.fillscore__label__input input[type=number]{
  height: 70%;
  width: 100%;
  -moz-appearance: textfield;
  font-weight: bolder;
  text-align: center;
  font-size: 1rem;
}
