.match__detail{
  width: 100%;
  height: 90%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.match__detail .detail__grid{
  height: 100%;
  width: 100%;
  max-width: 30rem;
  margin-top: 5%;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.detail__grid .detail__card{
  border: 1px solid black;
  margin-top: 2rem;
  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);

  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

  -ms-overflow-y: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  width: 100%;
  height: 80%;
  background: #f1f9ff;

  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;

  overflow: auto;
}
.space{
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
.detail__choose{
  cursor: pointer;
}
.detail__grid .detail__gridtop{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.detail__gridtop .detail__label{
  border:solid 1px black;
  background-color: #f1f9ff;
  height: 100%;
  width: 70%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.detail__label .detail__matchname{
  height: 65%;
  width: 100%;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.detail__matchname .detail__matchname__label{
  font-size: 1.5rem;
  margin: 2rem 1rem 0 1rem;
  overflow: hidden;
  color: #2a4d69;
  font-weight: bold;
}
.detail__label .detail__fieldname{
  height: 35%;
  width: 60%;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.detail__fieldname .detail__fieldname__label{
  margin: 0rem 1rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.detail__fieldname__label .detail__fieldname__icon{
  height: 1.5rem;
  width: 1.5rem;
}
.detail__fieldname__label .detail__fieldname__text{
  font-size: 1rem;
  margin-top: .5rem;
  overflow: hidden;
  color: #1b95fc;
  opacity: .8;
  font-size: 1rem;
  font-weight: bold;
}
.detail__label .detail__datematch{
  margin-top: .8rem;
  height: 35%;
  width: 40%;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.detail__datematch .detail__datematch__text{
  color: #333;
  opacity: .7;
  font-size: .7rem;
  font-style: italic;
  font-weight: bolder;
}
.detail__gridtop  .detail__controller{
  background-color: #1b95fc;
  border: 1px black solid;
  height: 100%;
  width: 30%;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.detail__controller .detail__controller__edit,
.detail__controller .detail__controller__result{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.detail__controller__edit .detail__controller__icon,
.detail__controller__result .detail__controller__icon{
  width: 2rem;
  width: 2rem;
}
.detail__controller__result .detail__controller__icon a{
  cursor: pointer;
}
.detail__labelgrid{
  position: -webkit-sticky;
  position: sticky;
  top: 7rem;
  width: 100%;
  height: 2rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.detail__labelgrid .detail__labelgrid__name{
  border: 1px black solid;
  height: 100%;
  width: 55%;
}
.detail__labelgrid .detail__labelgrid__in{
  border: 1px black solid;
  height: 100%;
  width: 15%;
}
.detail__labelgrid .detail__labelgrid__out{
  border: 1px black solid;
  height: 100%;
  width: 15%;
}
.detail__labelgrid .detail__labelgrid__gross{
  border: 1px black solid;
  height: 100%;
  width: 15%;
}
.detail__griduserhost{
  position: -webkit-sticky;
  position: sticky;
  top: 9rem;
  width: 100%;
  height: 4rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.detail__griduserhost .detail__userhostname{
  border: 1px black solid;
  height: 100%;
  width: 55%;
}
.detail__griduserhost .detail__userhostin{
  border: 1px black solid;
  height: 100%;
  width: 15%;
}
.detail__griduserhost .detail__userhostout{
  border: 1px black solid;
  height: 100%;
  width: 15%;
}
.detail__griduserhost .detail__userhostgross{
  border: 1px black solid;
  height: 100%;
  width: 15%;
}
.detail__card .detail__username{
  width: 100%;
  height: 4rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.detail__username .detail__username__name{
  border: 1px black solid;
  height: 100%;
  width: 55%;
}
.detail__username .detail__usernamein{
  border: 1px black solid;
  height: 100%;
  width: 15%;
}
.detail__username .detail__usernameout{
  border: 1px black solid;
  height: 100%;
  width: 15%;
}
.detail__username .detail__usernamegross{
  border: 1px black solid;
  height: 100%;
  width: 15%;
}
.detail__card .detail__teambox{
  border: 1px black solid;
  width: 100%;
  min-height: 4rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .match__detail .detail__grid{
    -webkit-transform: translateX(-7rem);
    -ms-transform: translateX(-7rem);
    -moz-transform: translateX(-7rem);
    -o-transform: translateX(-7rem);
    transform: translateX(-7rem);
    width: 60%;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .match__detail .detail__grid{
    min-width: 45rem;
    max-width: 70%;
    -webkit-transform: translateX(-7rem);
    -ms-transform: translateX(-7rem);
    -moz-transform: translateX(-7rem);
    -o-transform: translateX(-7rem);
    transform: translateX(-7rem);
  }
}
@media (min-width: 1600px) {
  .match__detail .detail__grid{
    max-width: 60rem;
    -webkit-transform: translateX(-7rem);
    -ms-transform: translateX(-7rem);
    -moz-transform: translateX(-7rem);
    -o-transform: translateX(-7rem);
    transform: translateX(-7rem);
  }
}
