.usermatch{
  height: 100%;
  width: 100%;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

}
.usermatch .usermatch__userdetail{
  width: 100%;
  max-height: 25rem;
  border: 1px black solid;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}

.usermatch__userdetail .userdetail__pic{
  width: 100%;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.userdetail__pic img{
  border: 1px black solid;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
  height: 100%;
}
.userdetail__pic button{
  height: 20%;
  width: 100%;
}
.usermatch__userdetail .userdetail__label{
  width: 100%;
}
.userdetail__label .userdetail__name{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.userdetail__name .userdetail__name__fullname{
  width: 80%;
  padding: .5rem 0 1rem 1rem;
  font-size: 1rem;
  letter-spacing: .1rem;
  color: #2a4d69;
  font-weight: bolder;

  -ms-overflow-x: hidden;
  overflow-x: hidden;
}
.userdetail__name .userdetail__name__icon{
  margin: .5rem 0 1rem 1rem;
  height: 1.5rem;
  width: 1.5rem;
}
.userdetail__name__icon img{
  border: none;
  padding: 0;
  height: 100%;
  width: 100%;
}
.userdetail__label .userdetail__depart{
  width: 100%;
  padding: 0 10% .5rem 10%;
  font-size: .75rem;
  letter-spacing: .1rem;
  color: #2a4d69;
  font-weight: bolder;

  -ms-overflow-x: hidden;
  overflow-x: hidden;
}
.userdetail__label .userdetail__racket__tel{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.userdetail__racket__tel .userdetail__racket{
  width: 100%;
  padding-left: 10%;
  font-size: .75rem;
  letter-spacing: .1rem;
  color: #2a4d69;
  font-weight: bolder;

  -ms-overflow-x: hidden;
  overflow-x: hidden;
}
.userdetail__racket__tel .userdetail__tel{
  width: 100%;
  padding: .5rem 5% 1rem 10%;
  font-size: .75rem;
  letter-spacing: .1rem;
  color: #2a4d69;
  font-weight: bolder;

  -ms-overflow-x: hidden;
  overflow-x: hidden;
}
.usermatch .usermatch__controller{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.usermatch__controller .usermatch__controller__switch{
  font-size: .75rem;
  padding: .5rem 5%;
}
.usermatch__controller__switch .switch-toggle{
  width: 3rem;
  height: 1.5rem;
}
.usermatch__controller__switch .slider-toggle:before{
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
}
.usermatch__controller__switch input:checked + .slider-toggle:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.usermatch .userscore__stat{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);

  height: 3rem;
  margin-bottom: 4px;
  width: 100%;
}
.userscore__stat .userscore__stat__result{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 90%;
  padding: 0 5%;
  font-weight: bolder;
}
.userscore__stat .userscore__stat__in{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
}
.userscore__stat .userscore__stat__out{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
}
.userscore__stat .userscore__stat__gross{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
}
.userscore__stat .userscore__stat__par{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
}
.usermatch .userscore__stat__label{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);

  height: 3rem;
  margin-bottom: 4px;
  width: 100%;
}
.userscore__stat__label .userscore__stat__label__date{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 6rem;
  padding: 0 5%;
  font-weight: bolder;
  color: white;
  background: #036ec8;
}
.userscore__stat__label .userscore__stat__label__matchname{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 100%;
  padding: 0 5%;
  font-weight: bolder;
  color: white;
  background: #036ec8;
}
.userscore__stat__label .userscore__stat__label__in{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
  color: white;
  background: #036ec8;
}
.userscore__stat__label .userscore__stat__label__out{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
  color: white;
  background: #036ec8;
}
.userscore__stat__label .userscore__stat__label__gross{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
  color: white;
  background: #036ec8;
}
.userscore__stat__label .userscore__stat__label__par{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
  color: white;
  background: #036ec8;
}
.usermatch .usermatch__userscore{
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;

  -ms-overflow-y: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.usermatch__userscore .userscore__grid{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);

  height: 4rem;
  margin-bottom: 4px;
  width: 100%;
}
.userscore__grid .userscore__date{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 6rem;
  padding: 0 5%;
}
.userscore__grid .userscore__matchname{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 70%;
  padding: 0 5%;
}
.userscore__matchname .userscore__matchname__grid{
  width: 100%;
}
.userscore__matchname__grid p{
  max-width: 10rem;
  overflow: hidden;
}
.userscore__grid .userscore__in{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
}
.userscore__grid .userscore__out{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
}
.userscore__grid .userscore__gross{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
}
.userscore__grid .userscore__par{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 4rem;
  font-size: .85rem;
  padding: 0 2.5%;
  font-weight: bolder;
}
@media (max-width: 425px){
  .usermatch__userdetail img{
    height: 8rem;
  }
  .userdetail__name .userdetail__name__icon{
    margin: .5rem 0 1rem 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  .userdetail__name__icon img{
    border: none;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .usermatch .userscore__stat{
    height: 2rem;
    font-size: .75rem;
  }
}
@media (min-width: 425px) and (max-width: 768px){
  .usermatch .usermatch__userdetail{
    width: 100%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
  }
  .usermatch__userdetail img{
    padding: 1rem;
    width: 100%;
    height: 70%;
  }
  .usermatch__userdetail .userdetail__label{
    width: 70%;
    height: 100%;
  }
  .userdetail__name .userdetail__name__fullname{
    font-size: 1.25rem;
    padding: 1rem 0 1rem 1rem;
  }
  .userdetail__name .userdetail__name__icon{
    margin: 1rem 0 1rem 1rem;
    height: 2.25rem;
    width: 2.25rem;
  }
  .userdetail__name__icon img{
    border: none;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .userdetail__label .userdetail__depart{
    width: 100%;
    padding: 0 10% .5rem 10%;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  .userdetail__label .userdetail__racket__tel{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .userdetail__racket__tel .userdetail__racket{
    width: 100%;
    padding-left: 10%;
    padding-bottom: .5rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  .userdetail__racket__tel .userdetail__tel{
    width: 100%;
    padding: 0 10% .5rem 10%;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  .usermatch__controller .usermatch__controller__switch{
    width: 100%;
    font-size: 1rem;
    padding: .5rem 10%;
  }
  .usermatch__userscore .userscore__grid{
    font-size: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 768px) and (orientation: landscape){
  .usermatch .usermatch__userdetail{
    width: 100%;
    height: 30%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
  }
  .usermatch__userdetail img{
    padding: 1rem;
    width: 100%;
    height: 70%;
  }
  .usermatch__userdetail .userdetail__label{
    width: 70%;
    height: 100%;
  }
  .userdetail__name .userdetail__name__fullname{
    padding: 1rem 0 1rem 1rem;
  }
  .userdetail__name .userdetail__name__icon{
    margin: .5rem 0 1rem 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  .userdetail__name__icon img{
    border: none;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .userdetail__label .userdetail__depart{
    width: 100%;
    padding: 0 10% .5rem 10%;
    font-size: .75rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  .userdetail__label .userdetail__racket__tel{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
  }
  .userdetail__racket__tel .userdetail__racket{
    width: 40%;
    padding-left: 10%;
    font-size: .75rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  .userdetail__racket__tel .userdetail__tel{
    width: 60%;
    padding: 0 10% 0 5%;
    font-size: .75rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .usermatch{
    padding-right: 15rem;
  }
  .usermatch .usermatch__userdetail{
    width: 100%;
    height: 30%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
  }
  .usermatch__userdetail img{
    padding: 1rem;
    width: 100%;
    height: 70%;
  }
  .usermatch__userdetail .userdetail__label{
    width: 70%;
    height: 100%;
  }
  .userdetail__name .userdetail__name__fullname{
    padding: 1rem 0 1rem 1rem;
    font-size: 1.5rem;
  }
  .userdetail__name .userdetail__name__icon{
    margin: 1rem 0 1rem 1rem;
    height: 2.5rem;
    width: 2.5rem;
  }
  .userdetail__name__icon img{
    border: none;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .userdetail__label .userdetail__depart{
    width: 100%;
    padding: 0 10% 1rem 10%;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  .userdetail__label .userdetail__racket__tel{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .userdetail__racket__tel .userdetail__racket{
    width: 100%;
    padding-left: 10%;
    padding-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  .userdetail__racket__tel .userdetail__tel{
    width: 100%;
    padding: 0 10% 1rem 10%;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  .usermatch__controller .usermatch__controller__switch{
    font-size: 1rem;
  }
  .usermatch__userscore .userscore__grid{
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .usermatch{
    padding-right: 15rem;
  }
  .usermatch .usermatch__userdetail{
    width: 100%;
    height: 30%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
  }
  .usermatch__userdetail img{
    padding: 1rem;
    width: 100%;
    height: 70%;
  }
  .usermatch__userdetail .userdetail__label{
    width: 70%;
    height: 100%;
  }
  .userdetail__name .userdetail__name__fullname{
    padding: 1rem 0 1rem 1rem;
    font-size: 1.5rem;
  }
  .userdetail__name .userdetail__name__icon{
    margin: 1rem 0 1rem 1rem;
    height: 2.5rem;
    width: 2.5rem;
  }
  .userdetail__name__icon img{
    border: none;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .userdetail__label .userdetail__depart{
    width: 100%;
    padding: 0 10% 1rem 10%;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  .userdetail__label .userdetail__racket__tel{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .userdetail__racket__tel .userdetail__racket{
    width: 100%;
    padding-left: 10%;
    padding-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  .userdetail__racket__tel .userdetail__tel{
    width: 100%;
    padding: 0 10% 1rem 10%;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #2a4d69;
    font-weight: bolder;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  .usermatch__controller .usermatch__controller__switch{
    font-size: 1rem;
  }
  .usermatch__userscore .userscore__grid{
    font-size: 1rem;
  }
}
