.toggle-btn{
  height: 3rem;
  width: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;

  -webkit-transition: display .3s ease-out;
  -moz-transition: display .3s ease-out;
  -o-transition: display .3s ease-out;
  transition: display .3s ease-out;
}
.toggle-btn img{
  height: 2.5rem;
  width: 2.5rem;
}
.toggle-btn:focus{
  outline: none;
}
.toggle-btn .toggle-btn__line{
  width: 2rem;
  height: .2rem;
  background: #333;
}
.toggle-btn .spacerr{
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
@media (min-width: 768px){
  .toggle-btn{
    display: none;
  }
}
