@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.logo{
   width: 6.25rem;
   height: 6.25rem;
   border: 0.25rem solid white;
   border-radius: 4rem;
   align-self: center;
   margin-left: 3.5rem;
}
.main{
  min-height: 6.25rem;
}
.main-item{
  min-height: 15rem;
}
/*------------------------Side Navigation--------------------------------*/
.sidenav{
  background-color: #1b95fc;
}
.sidenav a{
  letter-spacing: 0.15rem;
}
/*-------------------------Top Navigation--------------------------------*/
.topnav {
  overflow: hidden;
  width: 100%;
  background-color: #eaeaea;
}
.topnav a {
  float: left;
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 1.5rem 1.5rem;
  font-size: 1.15rem;
  letter-spacing: 0.15rem;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/*-----------------------------------card--------------------------------*/
.main-item .card{
  box-sizing: border-box;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  max-width: 30rem;
  min-width: 80%;
  height: 15rem;
  background-color: red;
  border-radius: 0.25rem;
  display: flex;
  margin: 2rem auto;
}
.card .card-item-small{
  min-width: 25%;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #1b95fc;
}
.card .card-item-large{
  min-width: 75%;
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: #f1f9ff;
}
.card .card-item-large:hover,.card .card-item-small:hover{
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
}
/*--------------------------Tablet-------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .logo{
     width: 6.25rem;
     height: 6.25rem;
     border: 0.25rem solid white;
     border-radius: 4rem;
     align-self: center;
     margin: 1.5rem 4.375rem 3rem;
  }
  /*-------------------------Top Navigation--------------------------------*/
  .topnav {
    overflow: hidden;
    background-color: #76bffd;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .topnav a {
    float: left;
    color: #333;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem 1.5rem;
    font-size: 1.15rem;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  /*-------------------------Side Navigation--------------------------------*/
  .sidenav {
      height: 100%;
      width: 15rem;
      position: fixed;
      z-index: 1;
      top:0;
      background-color: #2a4d69;
      overflow-x: hidden;
      padding-top: 2rem;
  }
  .sidenav a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: bolder;
      color: white;
      display: block;
      padding: 1.25rem 5rem;
      transition: color .2s;
  }
  .sidenav a:hover,a.active{
      color: #036ec8;
  }
  .sidenav a:active{
      color: white;
  }
  .main {
    margin-top: 4.15rem;
    margin-left: 15rem;
    font-size: 1.75rem;
  }
  .main-item{
    width: 100%;
    min-height: 15rem;
    padding: .1rem 2rem;
  }
  .main-item .card{
    box-sizing: border-box;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    width: 100%;
    max-width: 30rem;
    min-width: 15rem;
    height: 15rem;
    background-color: red;
    border-radius: 0.25rem;
    display: flex;
  }
  .card .card-item-small{
    min-width: 25%;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: #bce0fd;
  }
  .card .card-item-large{
    min-width: 75%;
    border-radius: 0.25rem 0 0 0.25rem;
    background-color: #f1f9ff;
  }
  .card .card-item-large:hover,.card .card-item-small:hover{
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  }
}
/*--------------------------Desktop------------------------------*/
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .logo{
     width: 6.25rem;
     height: 6.25rem;
     border: 0.25rem solid white;
     border-radius: 4rem;
     align-self: center;
     margin: 1.5rem 4.375rem 3rem;
  }
  /*-------------------------Top Navigation--------------------------------*/
  .topnav {
    overflow: hidden;
    background-color: #76bffd;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .topnav a {
    float: left;
    color: #333;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem 1.5rem;
    font-size: 1.15rem;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  /*-------------------------Side Navigation--------------------------------*/
  .sidenav {
      height: 100%;
      width: 15rem;
      position: fixed;
      z-index: 1;
      top:0;
      background-color: #2a4d69;
      overflow-x: hidden;
      padding-top: 2rem;
  }
  .sidenav a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: bolder;
      color: white;
      display: block;
      padding: 1.25rem 5rem;
      transition: color .2s;
  }
  .sidenav a:hover,a.active{
      color: #037be1;
  }
  .sidenav a:active{
      color: white;
  }
  .main {
    margin-top: 4.15rem;
    margin-left: 15rem;
    font-size: 1.75rem;
  }
  .main-item{
    float: left;
    min-height: 15rem;
    min-width: 50%;
    max-width: 50%;
    padding: .1rem 2rem;
  }
  .main-item .card{
    box-sizing: border-box;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    width: 100%;
    max-width: 30rem;
    min-width: 15rem;
    height: 15rem;
    background-color: red;
    border-radius: 0.25rem;
    display: flex;
  }
  .card .card-item-small{
    min-width: 25%;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: #bce0fd;
  }
  .card .card-item-large{
    min-width: 75%;
    border-radius: 0.25rem 0 0 0.25rem;
    background-color: #f1f9ff;
  }
  .card .card-item-large:hover,.card .card-item-small:hover{
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  }
}
/*---------------------------Large Display----------------------------------*/
@media only screen and (min-width: 1600px) {
  .logo{
     width: 6.25rem;
     height: 6.25rem;
     border: 0.25rem solid white;
     border-radius: 4rem;
     align-self: center;
     margin: 1.5rem 4.375rem 3rem;
  }
  /*-------------------------Top Navigation--------------------------------*/
  .topnav {
    overflow: hidden;
    background-color: #76bffd;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .topnav a {
    float: left;
    color: #333;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem 1.5rem;
    font-size: 1.15rem;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  /*-------------------------Side Navigation--------------------------------*/
  .sidenav {
      height: 100%;
      width: 15rem;
      position: fixed;
      z-index: 1;
      top:0;
      background-color: #2a4d69;
      overflow-x: hidden;
      padding-top: 2rem;
  }
  .sidenav a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: bolder;
      color: white;
      display: block;
      padding: 1.25rem 5rem;
      transition: color .2s;
  }
  .sidenav a:hover,a.active{
      color: #037be1;
  }
  .sidenav a:active{
      color: white;
  }
  .main {
    margin-top: 4.15rem;
    margin-left: 15rem;
    font-size: 1.75rem;
  }
  .main-item{
    float: left;
    min-height: 15rem;
    min-width: 33.333333%;
    max-width: 33.333333%;
    padding: .1rem 2rem;
  }
  .main-item .card{
    box-sizing: border-box;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    width: 100%;
    max-width: 30rem;
    min-width: 15rem;
    height: 15rem;
    background-color: red;
    border-radius: 0.25rem;
    display: flex;
  }
  .card .card-item-small{
    min-width: 25%;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: #bce0fd;
  }
  .card .card-item-large{
    min-width: 75%;
    border-radius: 0.25rem 0 0 0.25rem;
    background-color: #f1f9ff;
  }
  .card .card-item-large:hover,.card .card-item-small:hover{
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  }
}
