.createfield{
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  z-index: 251;
}
.createfield .createfield__grid{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  z-index: 251;
  -ms-overflow-y: auto;
  overflow-y: auto;
}
.createfield__grid .createfield__card{
  background: #f1f9ff;
  min-height: 0;
  width: 100%;
  max-width: 35rem;
  -ms-overflow-y: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.createfield__grid .createfield__card:hover{
  -webkit-box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
}
.createfield__card .createfield__fieldname{
  padding: 1rem 10%;
}
.createfield__fieldname .createfield__fieldname__text{
  margin: 8% 0 1rem 0;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #2a4d69;
  font-weight: bolder;
}
.createfield__card .createfield__hole{
  border: .16rem solid #036ec8;
  margin: 1rem 10%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  padding: 0rem 2rem;
}
.createfield__hole .createfield__hole__item,
.createfield__hcp .createfield__hole__item{
  width: 100%;
}
.createfield__hole__item .createfield__hole__label{
  margin: 1rem 10%;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #2a4d69;
  font-weight: bolder;
}
.createfield__hole__item input{
  margin: 2.5% 3%;
  width: 2.5rem;
  height: 2.5rem;
  overflow: auto;
  text-align: center;
}
.createfield__card .createfield__hcp{
  border: .16rem solid #036ec8;
  margin: 1rem 10%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  padding: 0rem 2rem;
}


.createfield__card .createfield__card__button{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  padding: 0 5% 5% 5%;
  height: 4.5rem;
}
.createfield__card__button .createfield__card__close{
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  width: 50%;
  border: none;
  font-size: 1.25rem;
  letter-spacing: .1rem;
  background: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.createfield__card__button .createfield__card__close:hover{
  background: #ff3333;
  opacity: .6;
  color: white;
}
.createfield__card__button .createfield__card__add{
  width: 50%;
  border: none;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: .1rem;
  background: #036ec8;
  color: #f1f9ff;
  cursor: pointer;
}
.createfield__card__button .createfield__card__add:hover{
  background: #025296;
}


.spacer{
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
