.modal__fillscore{
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  z-index: 200;
}
.modal__fillscore .modal__fillscore__grid{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  z-index: 200;
  width: 30rem;
}
.modal__fillscore__grid .modal__fillscore__card{
  background: #f1f9ff;
  min-height: 0;
  width: 100%;
  max-width: 30rem;
  -ms-overflow-y: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.spacer{
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
@media (min-width: 768px){
  .modal__fillscore{
    -webkit-transform: translate(-15rem,-4rem);
    -ms-transform: translate(-15rem,-4rem);
    -moz-transform: translate(-15rem,-4rem);
    -o-transform: translate(-15rem,-4rem);
    transform: translate(-15rem,-4rem);
  }
}
