.modal-creatematch{
  position: fixed;
  height: 100%;
  width: 100%;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  z-index: 200;
}
.modal-creatematch .modal-creatematch__grid{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  z-index: 200;
}
.modal-creatematch__grid .modal-creatematch__card{
  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);

  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

  background: white;
  min-width: 30rem;
  height: 40rem;
}
.modal-creatematch__card .modal-creatematch__items{
  margin: 1rem 10%;
}
.creatematch__matchname{
  width: 80%;
  margin: 1rem 10%;
}
.roomtype__scoretype{
  border: 1px black solid;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.roomtype__scoretype .creatematch__switchpub{
  width: 40%;
  margin: 1rem 2rem 1rem 10%;
}
.roomtype__scoretype .creatematch__typeroom{
  width: 40%;
  margin: 1rem 10% 1rem 2rem;
}
.locationselect{
  width: 40%;
  margin: 1rem 2rem 1rem 10%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.locationselect .locationselect__label{

}
.locationselect .creatematch__selectfield{
  margin: 0 2rem;

}
.team__deaprt{
  border: 1px black solid;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.team__deaprt .creatematch__team{
  width: 40%;
  margin: 1rem 0 1rem 5%;
}
.team__deaprt .creatematch__depart{
  width: 40%;
  margin: 1rem 5% 1rem 2rem;
}
.spacer{
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
