.modal-addpeople{
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  z-index: 200;
}
.modal-addpeople .modal-addpeople__grid{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  z-index: 200;
  width: 30rem;
}
.modal-addpeople__grid .modal-addpeople__card{
  background: #f1f9ff;
  min-height: 0;
  width: 100%;
  max-width: 30rem;
  -ms-overflow-y: auto;
  overflow-y: auto;
  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.modal-addpeople__card .addpeople__card__playername{
  margin: 8% 5% 5% 10%;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #2a4d69;
  font-weight: bolder;
}
.modal-addpeople__card .addpeople__card__input{
  padding: 2% 10% 10% 10%;
}
.modal-addpeople__card .addpeople__card__button{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  padding: 0 5% 5% 5%;
  height: 4.5rem;
}
.addpeople__card__button .addpeople__card__close{
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  width: 50%;
  border: none;
  font-size: 1.25rem;
  letter-spacing: .1rem;
  background: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.addpeople__card__button .addpeople__card__close:hover{
  background: #ff3333;
  opacity: .6;
  color: white;
}
.addpeople__card__button .addpeople__card__add{
  width: 50%;
  border: none;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: .1rem;
  background: #036ec8;
  color: #f1f9ff;
  cursor: pointer;
}
.addpeople__card__button .addpeople__card__add:hover{
  background: #025296;
}
.modal-addpeople__grid .modal-addpeople__card:hover{
  -webkit-box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
}
.spacer{
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
