.modal-addscore{
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  z-index: 200;
}
.modal-addscore .addscore__backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.modal-addscore .modal-addscore__grid{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  z-index: 200;
  -ms-overflow-y: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 35rem;
}
.modal-addscore__grid .modal-addscore__card{
  background: #f1f9ff;
  min-height: 0;
  width: 100%;
  -ms-overflow-y: auto;
  overflow-y: auto;
  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.modal-addscore__grid .modal-addscore__card:hover{
  -webkit-box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
}
.holefill{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 1rem 5%;
  width: 100%;
  height: 9rem;
}
.holefill .holefill__hole{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  height: 33.333333%;
  width: 100%;
}
.holefill__hole .holefill__hole__label{
  height: 100%;
  width: 100%;
}
.holefill .holefill__hole__label__hole{
  border-right: 1px solid white;
  height: 100%;
  width: 4rem;
  background: #2a4d69;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.holefill__hole__label__hole .hole__label__hole{
  text-align: center;
  color: white;
  font-weight: bolder;
}
.holefill__hole .label__hole__hole{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
  border-right: 1px solid white;
  background: #2a4d69;
}
.label__hole__hole .hole__hole{
  text-align: center;
  color: white;
  font-weight: bolder;
}
.holefill .holefill__table__label__score{
  background: white;
  border: 1px solid black;
  height: 100%;
  width: 4rem;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.holefill__table__label__score .holefill__par__score{
  text-align: center;
  font-weight: bolder;
}
.holefill .holefill__table__label__par{
  border-right: 1px solid white;
  height: 100%;
  width: 4rem;
  background: #036ec8;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.holefill__table__label__par .holefill__par__label{
  text-align: center;
  color: white;
  font-weight: bolder;
}
.holefill .holefill__label{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  height: 33.333333%;
  width: 100%;
}
.holefill__label .label__holefill{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
  border-right: 1px solid white;
  background: #036ec8;
}
.label__holefill .label__holefill__score{
  text-align: center;
  color: white;
  font-weight: bolder;
}
.holefill .holefill__input{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  height: 33.333333%;
  width: 100%;
}
.holefill__input .input__holefill{
  height: 100%;
  width: 100%;
}
.input__holefill input[type=number]{
  height: 100%;
  width: 100%;
  -moz-appearance: textfield;
  font-weight: bolder;
  text-align: center;
  font-size: 1rem;
}
.input__holefill ::-webkit-input-placeholder { /* Chrome */
  color: #036ec8;
  opacity: .5;
  font-weight: lighter;

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;

}
.input__holefill :-ms-input-placeholder { /* IE 10+ */
  color: #036ec8;
  opacity: .5;
  font-weight: lighter;

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.input__holefill ::-moz-placeholder { /* Firefox 19+ */
  color: #036ec8;
  opacity: .5;
  font-weight: lighter;

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.input__holefill :-moz-placeholder { /* Firefox 4 - 18 */
  color: #036ec8;
  opacity: .5;
  font-weight: lighter;

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.input__holefill :focus::-webkit-input-placeholder{
  opacity: .75;
  font-weight: bolder;
}
.input__holefill :focus:-ms-input-placeholder{
  opacity: .75;
  font-weight: bolder;
}
.input__holefill :focus::-moz-placeholder{
  opacity: .75;
  font-weight: bolder;
}
.input__holefill :focus:-moz-placeholder{
  opacity: .75;
  font-weight: bolder;
}
.input__holefill input[type=number]::-webkit-inner-spin-button,
.input__holefill input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-addscore__grid .addscore__card__text{
  margin: 8% 5% 3rem 10%;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #2a4d69;
  font-weight: bolder;
}
.modal-addscore__grid .addscore__card__button{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  padding: 2rem 5% 5% 5%;
  height: 8rem;
}
.addscore__card__button .addscore__card__close{
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  width: 50%;
  border: none;
  font-size: 1.25rem;
  letter-spacing: .1rem;
  background: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.addscore__card__button .addscore__card__close:hover{
  background: #ff3333;
  opacity: .6;
  color: white;
}
.addscore__card__button .addscore__card__save{
  width: 50%;
  border: none;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: .1rem;
  background: #036ec8;
  color: #f1f9ff;
  cursor: pointer;
}
.addscore__card__button .addscore__card__save:hover{
  background: #025296;
}

.spacer{
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
