.modal-creatematch{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
}
.modal-creatematch .modal-creatematch__grid{
  display: flex;
  flex-direction: column;
}
.modal-creatematch__grid .modal-creatematch__card{

  background: white;
  min-width: 30rem;
  height: 25rem;
  z-index: 200;
}
.spacer{
  flex: 1;
}
