.modal-creatematch{
  position: absolute;
  height: 100%;
  width: 100%;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  z-index: 200;
}
.modal-creatematch .modal-creatematch__grid{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  z-index: 200;
}
.modal-creatematch__grid .modal-creatematch__card{
  background: #f1f9ff;
  min-height: 0;
  width: 100%;
  max-width: 30rem;

  -ms-overflow-y: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);

  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.modal-creatematch__grid .modal-creatematch__card:hover{
  -webkit-box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,0.4);
}
.modal-creatematch__card .modal-creatematch__items{
  margin: 1rem 10%;
}
.creatematch__matchname{
  width: 80%;
  margin: 1rem 10%;
}
.modal-creatematch__card .creatematch__switchtour{
  width: 50%;
  margin: 3rem 2rem 2rem 10%;
}
.creatematch__switchtour .creatematch__switchtour__label{
  color: #2a4d69;
  font-weight: bolder;
  margin: .5rem 0;
}
.modal-creatematch__card .creatematch__matchname__text{
  margin: 8% 5% 5% 10%;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #2a4d69;
  font-weight: bolder;
}
.roomtype__scoretype{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.roomtype__scoretype .creatematch__switchpub{
  width: 40%;
  margin: 1rem 2rem 1rem 10%;
}
.creatematch__switchpub .creatematch__switchpub__label{
  color: #2a4d69;
  font-weight: bolder;
  margin: .5rem 0;
}
.roomtype__scoretype .creatematch__typeroom{
  width: 40%;
  margin: 1rem 10% 1rem 2rem;
}
.creatematch__typeroom .creatematch__typeroom__label{
  color: #2a4d69;
  font-weight: bolder;
  margin: .5rem 0;
}
.creatematch__typeroom .creatematch__typeroom__option{
  height: 2.5rem;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  color: #2a4d69;
  border:#036ec8 .16rem solid;
}
.creatematch__typeroom__option option{
  height: 2.5rem;
  width: 80%;
  text-align: center;
  font-weight: bolder;
  color: #2a4d69;
  border:#036ec8 .16rem solid;
}
.locationselect{
  width: 100%;
  padding: 2rem 0 2rem 10%;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.locationselect .locationselect__label{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.locationselect__label .locationselect__label__label{
  width: 20%;
  height: 2rem;
  color: #2a4d69;
  font-weight: bolder;
  margin: .5rem 0;
}
.locationselect__label .locationselect__label__data{
  width: 20%;
  height: 2rem;
  color: #2a4d69;
  font-weight: bolder;
  margin: .5rem 0;
}
.locationselect .locationselect__button{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  width: 100%;
  height: 3rem;
}
.creatematch__selectfield{
  width: 40%;
  margin: 0 2rem;
}
.locationselect .creatematch__selectfield button{
  padding: .5rem .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  width: 100%;
  height:100%;
  border: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-weight: bolder;
  letter-spacing: .1rem;
  background: #036ec8;
  color: #f1f9ff;
  cursor: pointer;
}
.creatematch__selectfield button:hover{
  background: #025296;
}

.team__depart{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  margin: 0 10%;
}
.team__depart .creatematch__team{
  width: 100%;
}
.team__depart .creatematch__depart{
  width: 100%;
}
.team__depart .team__depart__label{
  color: #2a4d69;
  font-weight: bolder;
  margin: .5rem 0;
}
.modal-creatematch__card .creatematch__card__button{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  padding: 5%;
  height: 6rem;
}
.creatematch__card__button .addpeople__card__close{
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  width: 50%;
  border: none;
  font-size: 1.25rem;
  letter-spacing: .1rem;
  background: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.creatematch__card__button .addpeople__card__close:hover{
  background: #ff3333;
  opacity: .6;
  color: white;
}
.creatematch__card__button .creatematch__card__add{
  width: 50%;
  border: none;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: .1rem;
  background: #036ec8;
  color: #f1f9ff;
  cursor: pointer;
}
.creatematch__card__button .creatematch__card__add:hover{
  background: #025296;
}
.spacer{
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
