.modal-matchresult{
  -webkit-transform: translateY(-4rem);
  -ms-transform: translateY(-4rem);
  -moz-transform: translateY(-4rem);
  -o-transform: translateY(-4rem);
  transform: translateY(-4rem);

  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  z-index: 200;
}
.modal-matchresult .modal-matchresult__grid{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  z-index: 200;
  width: 30rem;
}
.modal-matchresult__grid .modal-matchresult__card{
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  background: #f1f9ff;
  min-height: 0;
  height: 80%;
  width: 100%;
  max-width: 30rem;

  -ms-overflow-y: auto;
  overflow-y: auto;

  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.3);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.modal-matchresult__card .matchresult__label{
  margin: 8% 5% 5% 10%;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #2a4d69;
  font-weight: bolder;
}
.modal-matchresult__card .matchresult__label__typescore{
  margin: 8% 5% 5% 10%;
  font-size: 1rem;
  letter-spacing: .1rem;
  color: #2a4d69;
  font-weight: bolder;
}
.modal-matchresult__card .match__result__box{
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  min-height: 6rem;
  width: 100%;
}
.match__result__box .match__result__box__label{
  width: 100%;
  height: 66.666666%;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.match__result__box .match__result__box__score{
  height: 33.333333%;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.match__result__box__score .result__box__score{
  height: 100%;
  width: 100%;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.result__box__score .box__score{
  height: 100%;
  width: 5.555555%;
  border: 1px black solid;
  text-align: center;
  font-weight: bolder;
}
.modal-matchresult__card .match__result__box__user{
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  min-height: 6rem;
  width: 100%;
}
.match__result__box__user .match__result__box__user__label{
  height: 4rem;
  width: 100%;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.match__result__box__user .match__result__box__user__score{
  height: 2rem;
  width: 100%;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.match__result__box__user__score .result__box__user__score{
  height: 100%;
  width: 100%;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
}
.result__box__user__score .box__user__score{
  height: 100%;
  width: 5.555555%;
  border: 1px black solid;
  text-align: center;
  font-weight: bolder;
}
.match__result__box .match__result__box__teamname{
  width: 30%;
  height: 4rem;
  background: #f1f9ff;
  border: 1px black solid;
}
.match__result__box .match__result__box__in{
  width: 14%;
  height: 4rem;
  background: #f1f9ff;
  border: 1px black solid;
}
.match__result__box .match__result__box__out{
  width: 14%;
  height: 4rem;
  background: #f1f9ff;
  border: 1px black solid;
}
.match__result__box .match__result__box__gross{
  width: 14%;
  height: 4rem;
  background: #f1f9ff;
  border: 1px black solid;
}
.match__result__box .match__result__box__net{
  width: 14%;
  height: 4rem;
  background: #f1f9ff;
  border: 1px black solid;
}
.match__result__box .match__result__box__sf{
  width: 14%;
  height: 4rem;
  background: #f1f9ff;
  border: 1px black solid;
}
.match__result__box .match__result__box__par{
  width: 14%;
  height: 4rem;
  background: #f1f9ff;
  border: 1px black solid;
}
.match__result__box__user .result__box__userid{
  width: 30%;
  height: 4rem;
  border: 1px black solid;
}
.match__result__box__user .result__box__in{
  width: 14%;
  height: 4rem;
  border: 1px black solid;
}
.match__result__box__user .result__box__out{
  width: 14%;
  height: 4rem;
  border: 1px black solid;
}
.match__result__box__user .result__box__gross{
  width: 14%;
  height: 4rem;
  border: 1px black solid;
}
.match__result__box__user .result__box__net{
  width: 14%;
  height: 4rem;
  border: 1px black solid;
}
.match__result__box__user .result__box__sf{
  width: 14%;
  height: 4rem;
  border: 1px black solid;
}
.match__result__box__user .result__box__par{
  width: 14%;
  height: 4rem;
  border: 1px black solid;
}
.modal-matchresult__card .detail__teambox{
  border: 1px black solid;
  width: 100%;
  min-height: 4rem;
  padding: 1rem;
}
.close__modalresult{
  height: 4rem;
  width: 80%;
  margin: 1rem 10%;
}
.close__modalresult .close__modalresult__button{
  width: 100%;
  border: none;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: .1rem;
  background: #036ec8;
  color: #f1f9ff;
  cursor: pointer;
}
.close__modalresult .close__modalresult__button:hover{
  background: #025296;
}
.spacer{
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .modal-matchresult{
    -webkit-transform: translate(-7.5rem,-4rem);
    -ms-transform: translate(-7.5rem,-4rem);
    -moz-transform: translate(-7.5rem,-4rem);
    -o-transform: translate(-7.5rem,-4rem);
    transform: translate(-7.5rem,-4rem);

    position: fixed;
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    z-index: 200;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .modal-matchresult{
    -webkit-transform: translate(-7.5rem,-4rem);
    -ms-transform: translate(-7.5rem,-4rem);
    -moz-transform: translate(-7.5rem,-4rem);
    -o-transform: translate(-7.5rem,-4rem);
    transform: translate(-7.5rem,-4rem);
  }
}
@media (min-width: 1600px) {
  .modal-matchresult{
    -webkit-transform: translate(-7.5rem,-4rem);
    -ms-transform: translate(-7.5rem,-4rem);
    -moz-transform: translate(-7.5rem,-4rem);
    -o-transform: translate(-7.5rem,-4rem);
    transform: translate(-7.5rem,-4rem);
  }
}
